.titulo-bloco {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 7px 11px 2px rgba(0, 0, 0, 0.38);;
  width: 700px;
  max-width: 100%;
  margin: 0 auto 40px auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo-texto {
  font-size: 30px;
  font-style: italic;
  color: black;
  margin: 0;
}

@media (max-width: 700px) {
  .titulo-bloco {
    width: 90%;
    padding: 16px;
  }
}

@media (max-width: 480px) {
  .titulo-texto {
    font-size: 24px;
  }
}
