.modelo-container {
  padding: 60px var(--padding-padrao);
  text-align: center;
}

.modelo-container-titulo{
    padding: 60px 0 10px 0;
}

.modelos-grid {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 20px;
  padding-bottom: 40px;
}

.modelo-card {
  background: #fff;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  cursor: pointer;
  width: 300px;
  transition: transform 0.3s ease;
}

.modelo-card:hover {
  transform: scale(1.05);
}

.modelo-card img {
  width: 100%;
  border-radius: 10px;
}

.modelo-card p {
  margin-top: 10px;
  font-weight: bold;
}

@media (max-width: 992px) {
  .modelo-container {
    padding: 40px var(--padding-padrao);
  }
}

@media (max-width: 640px) {
  .modelo-container {
    padding: 30px var(--padding-padrao);
  }

  .modelos-grid {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .modelo-card {
    width: 100%;
    max-width: 300px;
  }
}
