:root {
  --azul-principal: #1A4D9A;
  --cinza-principal: #E7E7E7;
  --padding-padrão: 150px;
}

body {
  margin: 0;
  background-color: var(--cinza-principal);
  font-family: 'Niramit', sans-serif;
}